.pagination {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-block: 2rem;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        text-decoration: none;
        color: var(--text-muted);
        border-radius: .375rem;
        transition: all .3s;

        &:hover,
        &:focus {
            background-color: #ffffff;
        }

        &:active {
            transform: scale(0.90);
        }

    }
}


.is-active {
    background-color: var(--primary-light);
    color: #ffffff;
    pointer-events: none;
}